<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buster.mycrews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.User.MyCrewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Crew.FindCrewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.User.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Crew.CrewProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.User.MyEditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Crew.CrewChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Crew.CrewGamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Crew.CrewLeaderActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>